<div class="col -id">
  {{ tariff.id }}
</div>

<div class="col -name">
  {{ tariff.name }}
</div>

<div class="col -speed">
  <div class="speed -download">
    <div class="speed-label">Download</div>
    <div class="speed-info">
      <div class="speed-direction">↓</div>
      <div class="speed-data">
        {{ tariff.speedDownload | number : "1.0-0" }} Mbit/s
      </div>
    </div>
  </div>

  <div class="speed -upload">
    <div class="speed-label">Upload</div>
    <div class="speed-info">
      <div class="speed-direction">↑</div>
      <div class="speed-data">
        {{ tariff.speedUpload | number : "1.0-0" }} Mbit/s
      </div>
    </div>
  </div>
</div>

<div class="col -benefits">
  <ul>
    <li *ngFor="let benefit of tariff.benefits">{{ benefit }}</li>
  </ul>
</div>

<div class="col -price">
  <div class="price-tag">{{ tariff.price | number : "1.0-2" }}&nbsp;€</div>
  <button class>
    <span class="button-label">To Tariff</span>
    →
  </button>
</div>
